<article id="collaborate">
<header> <h1> <a name="collaborate">Colabora, hazte socio </a></h1> </header>
<section>
<div>
    <img src="{{ 'assets/img/barraca8.jpeg' | relative_url }}" alt="Aprendiendo a cuidar el huerto"/>
</div>
<div>
<p>En El Club de l'Horta ofrecemos la oportunidad de colaborar con nosotros y utilizar nuestro espacio para vuestros proyectos. Si tienes una propuesta o una idea que quieres desarrollar en El Club de l'Horta, envianos un mail a elclubdelhorta@gmail.com o pásate por La Barraca y coméntalo!</p>

<p>Siendo socio de El Club de l'Horta nos ayudas a mantener todo el espacio y los jardines. Además puedes disfrutar de las actividades, talleres, cursos y eventos que se organizan durante todo el año. La cuota anual es de solamente 10 euros.</p>
<a href="{{ 'assets/formulario_socios_2021.pdf' | relative_url }}" target='_blank' class='button'> Descargar formulario de socio </a>
</div>
<section>
</article>
