<article id='contact-us'>
<header> <h1 class='title'><a name="contact">Contacto</a></h1> </header>
<section>
<div class='address'>
  <p>
  Paseo de Aragón, 108<br>
Alboraia, Valencia<br>
elclubdelhorta@gmail.com<br>
<br>
</p>
<p>
Síguenos en <a href='http://www.facebook.com/clubdelhorta'><img src="{{ "/assets/img/facebook.webp" | relative_url }}" />Facebook</a> o <a href='https://www.instagram.com/elclubdelhorta/'>Instagram</a>
</p>
</div>

<div class='map'>
  <a href='https://goo.gl/maps/P927Adi5PEESQ52n7' title="Ver en Google Maps"><img src="{{ "/assets/img/situacion.png" | relative_url }}" /></a>
</div>
</section>
</article>
