<header class="site-header">

    <!-- Logo and title -->
	<div class="branding">
        {% if site.avatar %}
		<a href="{{ '/' | relative_url }}">
			<img alt="logo img" class="avatar" src="{{ site.avatar | relative_url }}" />
		</a>
        {% endif %}

		<h1 class="site-title">
			<a aria-label="{{ site.title }}" href="{{ '/' | relative_url }}">
        {{ site.title }}
      </a>
		</h1>
	</div>

    <!-- Toggle menu -->
    <nav class="clear">
    <a aria-label="pull" id="pull" class="toggle" href="#">
    <i class="fa fa-bars fa-lg"></i>
    </a>

    <!-- Menu -->
    <ul class="hide">
        <li><a class="clear" aria-label="Quiénes somos" title="Quiénes somos" href="#who-we-are">Quiénes somos</a></li>
        <li class="separator"> | </li>
        <li><a class="clear" aria-label="La barraca" title="La barraca" href="#venue">La barraca</a></li>
        <li class="separator"> | </li>
        <li><a class="clear" aria-label="Colabora" title="Colabora" href="#collaborate">Colabora</a></li>
        <li class="separator"> | </li>
        <li><a class="clear" aria-label="Contacto" title="Contacto" href="#contact">Contacto</a></li>
    </ul>

	</nav>
</header>
