<article id="barraca">
<header> <h1> <a name="venue">La barraca </a></h1> </header>
<section>
      <img src="{{ 'assets/img/barraca5.jpeg' | relative_url }}" alt="Aprendiendo a cuidar el huerto"/>
      <br><br>
    <p>El Club de l'Horta esta ubicado en La Barraca de Alboraya gracias a una colaboración estrecha con el ayuntamiento de Alboraya. </p>

    <p>La Barraca fue construida en 1999 y es un monumento que nos hace presente un nostálgico pasado y es una señal de identidad para todos los alborayenses. La Barraca es un homenaje a las típicas viviendas rurales y un modo de preservar nuestras raíces y costumbres. El recinto cerrado, con un jardín de más de 1000 m2, ubicado dentro del casco urbano de Alboraia, es el sitio ideal para El Club de l´Horta. </p>

    <p> Dentro del recinto contamos con 5 zonas principales:

    <ol>
      <li>Jardin escuela: un gran huerto donde se organizan actividades dirigidas para niños.</li>
      <li>L'Horteta: un huerto público abierto a todos los socios que disfrutan de trabajar, cultivar, enseñar y aprender. </li>
      <li>Fruitopolis: nuestro jardin de arboles y zona de estar. Aqui se puede disfrutar de una infusión, algo para almorzar o merendar o simplemente disfrutar de un rato agradable en un entorno rural.</li>
      <li>Playground: mas de 500m2 para jugar y divertir! </li>
      <li>La Barraca: lugar de exposiciones y museo.</li>
    </p>
  </div>
</section>


</article>
