<article id='who-we-are'>
<header> <h1 class='title'><a name="who-we-are">Quiénes somos</a></h1> </header>
  <section>
    <div>
      <p>
      Somos una asociación sin ánimo de lucro que contribuye a la creación de la conciencia ambiental de sus socios y promueve el conocimiento de las técnicas agrícolas sostenibles, dentro del ámbito de la educación. </p>

      <p>Es un huerto ecológico infantil sin prisas ni agobios, mantenido por los propios niños de Alboraia y alrededores. Es un entorno familiar y hogareño para aquellos padres que quieren ofrecer a sus hijos una buena alternativa a la vida sedentaria delante de la televisión. Son las familias, y principalmente los niños de Alboraia y alrededores quienes aprenden a valorar nuestra huerta, así como a obtener alimentos frescos y naturales. </p>

      <p>
      Queremos conseguir que nuestros socios obtengan conocimientos sobre el mundo de las verduras, hortalizas, legumbres, tubérculos y frutales. Que observen, reconozcan y trabajen durante todo el ciclo productivo de los productos agrícolas, desde la siembra/plantación, hasta la recolección.
      </p>

      <p>
      Nuestros socios aprenden a valorar la importancia de consumir alimentos frescos y saludables, familiarizandose con el trabajo físico y disfrutando de una experiencia sin prisas ni agobios en un entorno familiar y hogareño.
      </p>
    </div>
    <div>
      <img src="{{ 'assets/img/barraca6.jpeg' | relative_url }}" alt="Aprendiendo a cuidar el huerto"/>
    </div>
  </section>
</article>
